<!DOCTYPE html>
<html>
    <head>    
        <link rel="stylesheet" href="../assets/css/style.css">
        <!--<link rel="stylesheet" type="text/css" href="../assets/css/print.css" media="print">-->
    
        <!-- MathJax -->
        <script>
            MathJax = {
              tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] },
              svg: { fontCache: 'global' }
            };
        </script>
        <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
    </head>
      <body>
        <div id="container">
            <div class="inner">
                <header>
                  <h1>{{ page.name | default: page.title | default: site.github.repository_name }}</h1>
                  <h2>{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
                </header>
                <section id="main_content">
                  {{ content }}
                </section>
            </div>
        </div>
          
     </body>
</html>
